<li>
                        <div class="product  ">
                            <div class="product-quicklinks hide-for-small">
                                <div class="product-quicklinks-box">
                                    <a rel="nofollow" class="icon view popup" href="https://www.sivasdescalzo.com/en/catalog/product/popupview/product/AC7203/">
                                        <img src="https://www.sivasdescalzo.com/skin/frontend/sivasdescalzo/opentrends/comu/icon-quicklinks-view-off.svg" alt="Quickview" title="Quickview">
                                    </a>
                                                                            <a rel="nofollow" class="icon fav link-wishlist" href="https://www.sivasdescalzo.com/en/wishlist/index/ajaxadd/product/AC7203/form_key/3bbp9w4P9diNepMU/" data-onerror="message">
                                            <span class="add-to-favorites"><span class="add-to-favorites-over"></span></span>
                                        </a>
                                                                    </div>
                            </div>
                            <a href="https://www.sivasdescalzo.com/en/adidas-y-3-y-3-ayero-ac7203">
                                <img style="width:238px;" src="https://media.sivasdescalzo.com/media/catalog/product/cache/2/small_image/476x594/9df78eab33525d08d6e5fb8d27136e95/A/C/AC7203_sivasdescalzo-y-3-ayero-ac7203-1.jpg" alt=" Y-3 AYERO - AC7203">
                            </a>
                                                        <div class="product-data">
                                <p><span class="brand">adidas Y-3</span></p>
                                <p><span class="model">Y-3 AYERO</span></p>

                                                                    <div class="price"><span><b itemprop="price">320</b><span itemprop="priceCurrency">€</span></span></div>
                                                            </div>
                        </div>
                    </li>